<!-- templates/recognizer.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Сәлем, {{ name }}!
    <form method="POST" action="/recognizer">
  <div class="field">
                <div class="control">
                    <label>Бөлмелер</label>
                    <select name="rooms">
                        {% for room in rooms %}
                        <option value="{{ room }}">{{ room }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
<div class="field">
    <div class="control">
        <label>Кепілге қойылған</label>
        <select name="is_mortgaged" required>
            <option value="Yes">Да</option>
            <option value="No">Жоқ</option>
        </select>
    </div>
</div>
        <br>
  <div class="field">
                <div class="control">
                    <label>Ғимарат</label>
                    <select name="building">
                        {% for build in building %}
                        <option value="{{ build }}">{{ build }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                <label>Қабат</label>
                    <select name="floor">
                        {% for flo in floor %}
                        <option value="{{ flo }}">{{ flo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                    <label>Шаршы метр</label>
                    <select name="square">
                        {% for sq in square %}
                        <option value="{{ sq }}">{{ sq }}</option>
                        {% endfor %}
                    </select>
                </div>
                </div>
        <br>
  <div class="field">
                <div class="control">
                    <label>Жатақхана</label>
                    <select name="priv_dormitory">
                        {% for priv_dorm in priv_dormitory %}
                        <option value="{{ priv_dorm }}">{{ priv_dorm }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                                    <label>Ремонтталған</label>
                    <select name="renovation">
                        {% for reno in renovation %}
                        <option value="{{ reno }}">{{ reno }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                <label>Ремонтталған</label>
                    <select name="priv_dormitory">
                        {% for reno in renovation %}
                        <option value="{{ reno }}">{{ reno }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                    <label>Интернет түрі</label>
                    <select name="internet_type">
                        {% for net_t in internet_type %}
                        <option value="{{ net_t }}">{{ net_t }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">

                    <label>Жуынатын бөлме түрі</label>
                    <select name="bathroom_type">
                        {% for bath_type in bathroom_type %}
                        <option value="{{ bath_type }}">{{ bath_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                    <label>Балкон</label>
                    <select name="balcony">
                        {% for bal in balcony %}
                        <option value="{{ bal }}">{{ bal }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                                        <label>Әйнектелген балкон</label>
                    <select name="balcony_glazed">
                        {% for bal_glazed in balcony_glazed %}
                        <option value="{{ bal_glazed }}">{{ bal_glazed }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                    <label>Есік түрі</label>
                    <select name="door_type">
                        {% for door in door_type %}
                        <option value="{{ door }}">{{ door }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                                        <label>Паркинг</label>
                    <select name="parking">
                        {% for park in parking %}
                        <option value="{{ park }}">{{ park }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
        <br>
  <div class="field">
                <div class="control">
                    <label>Жиһаз</label>
                    <select name="furniture">
                        {% for furn in furniture %}
                        <option value="{{ furn }}">{{ furn }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <br>
<div class="field">
  <div class="control">
    <label>Еден түрі</label>
    <select name="floor_type">
      {% for f in floor_type %}
        <option value="{{ f }}">{{ f }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>Төбенің биіктігі</label>
    <select name="ceiling_height">
      {% for height in ceiling_height %}
        <option value="{{ height }}">{{ height }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>Қауіпсіздік</label>
    <select name="security">
      {% for sec in security %}
        <option value="{{ sec }}">{{ sec }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>ЖК</label>
    <select name="map_complex">
      {% for complex in map_complex %}
        <option value="{{ complex }}">{{ complex }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>0згертілген</label>
    <select name="has_change">
      <option value="0">Жоқ</option>
      <option value="1">Иә</option>
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>Қала</label>
    <select name="city">
      {% for c in city %}
        <option value="{{ c }}">{{ c }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>Аудан</label>
    <select name="district">
      {% for d in district %}
        <option value="{{ d }}">{{ d }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>Көше</label>
    <select name="street">
      {% for s in street %}
        <option value="{{ s }}">{{ s }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>Үй нөмірі</label>
    <select name="house_num">
      {% for num in house_num %}
        <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </div>
</div>
        <br>
<div class="field">
  <div class="control">
    <label>Кезең</label>
    <select name="date">
      {% for d in date %}
        <option value="{{ d }}">{{ d }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<button class="button is-block is-info is-large is-fullwidth">Үй бағасын болжау</button>
</form>
</h1>
{% endblock %}