<!-- templates/recognizer.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
    <form method="POST" action="/recognizer">
  <div class="field">
                <div class="control">
                    <label>Бөлмелер</label>
                    <select name="rooms">
                        {% for room in rooms %}
                        <option value="{{ room }}">{{ room }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
<div class="field">
    <div class="control">
        <label>Is Mortgaged</label>
        <select name="is_mortgaged" required>
            <option value="Да">Да</option>
            <option value="No"></option>
        </select>
    </div>
</div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="building" placeholder="Building" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="floor" placeholder="Floor" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="square" placeholder="Square" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="priv_dormitory" placeholder="PrivDormitory" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="renovation" placeholder="Renovation" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="telephone_type" placeholder="TelephoneType" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="internet_type" placeholder="InternetType" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="bathroom_type" placeholder="BathroomType" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="balcony" placeholder="Balcony" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="balcony_glazed" placeholder="BalconyGlazed" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="door_type" placeholder="DoorType" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="parking" placeholder="Parking" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="furniture" placeholder="Furniture" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="floor_type" placeholder="FloorType" autofocus="">
                </div>
            </div>
  <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="ceiling_height" placeholder="CeilingHeight" autofocus="">
                </div>
            </div>
  <div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="security" placeholder="Security" autofocus="">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="map_complex" placeholder="MapComplex" autofocus="">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="has_change" placeholder="HasChange" autofocus="">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="city" placeholder="City" autofocus="">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="district" placeholder="District" autofocus="">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="street" placeholder="Street" autofocus="">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="house_num" placeholder="HouseNum" autofocus="">
  </div>
</div>
<div class="field">
  <div class="control">
    <input class="input is-large" type="text" name="date" placeholder="Date" autofocus="">
  </div>
</div>
<button class="button is-block is-info is-large is-fullwidth">Recognize</button>
</form>
</h1>
{% endblock %}